﻿@model WebFitDiary.ViewModels.RegisterViewModel

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@if (!String.IsNullOrEmpty(ViewData?.Model?.ErrorMessage.ToString()))
{
    foreach (var err in ViewData.Model.ErrorMessage)
    {
        <div class="text-danger">@err</div>
    }
}

@{
    ViewData["Title"] = "Register";
} 

<div class="row">
    <div class="col-md-6">
        <h3>Register</h3>
        <form asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="post" class="col-md-12 col-md-offset-3">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="form-group">
                    <input type="text" asp-for="UserName" class="form-control" placeholder="User name"/>
                    <span asp-validation-for="UserName" class="text-danger" required></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>





