﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="col-md-12">
        <h1>Welcome to FitDiary</h1>
        <p>page that will help you get your dream body!</p>
        <a asp-controller="Home" asp-action="ProgressControl" class="btn btn-success btn-lg">View My Progress</a>
</div>