﻿@model IEnumerable<WebFitDiary.Models.User>
@{
    ViewData["Title"] = "Home Page";
}



<form>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div>
                <h3>Hello, @Model.First(u => u.UserName.Equals(User.Identity.Name)).FullName</h3>
            </div>
            <div class="form-group">
                <label>Date: </label>
                <input class="form-control"/>
            </div>

            <div class="form-group">
                <label>Weight: </label>
                <input class="form-control"/>
            </div>

            <div class="form-group">
                <label>Calories: </label>
                <input class="form-control"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Confirm progress." />
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <h2>Progress graph here!</h2>
        </div>
    </div>

</form>
