﻿@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="~/js/app-trainingPlan.js"></script>
    <script src="~/js/trainingPlanController.js"></script>
    <script src="~/js/trainingPlanEditorController.js"></script>
    <script src="~/js/trackController.js"></script>
}

<div class="row" ng-app="app-trainingPlan">
    <div ng-view></div>
</div>

