﻿<div class="col-md-5 col-md-offset-1">
    <h1>
        <b>
            <span class="text-uppercase">
                {{ vm.name }}
            </span>
        </b>
    </h1>

    <br />
    <br />

    <h4>
        <span>
            <button class="btn btn-primary btn-sm" ng-click="goToPreviousWeek()">
                <i class="fa fa-angle-double-left"></i>
            </button>
            WEEK {{ getPageIndex() }}
            <button class="btn btn-primary btn-sm" ng-click="goToNextWeek()">
                <i class="fa fa-angle-double-right"></i>
            </button>
        </span>
    </h4>

    <div ng-repeat="(key, value) in vm.trainingPlan.exercises | groupBy: 'trainingDay'">
        <h2><b><span>{{ dayOfWeek(key) }}</span></b></h2>
        <div class="well" ng-repeat="exercise in value track by $index" ng-init="index = countInit()">
            <div>
                <h4><span>{{ exercise.name }}</span></h4>
                Planned reps: {{ exercise.reps }} in {{ exercise.sets }} sets
            </div>
            <form novalidate name="newProgressForm">
                <input type="number" placeholder="Weight" class="col-sm-3"
                       ng-model="vm.progress[index].weight"
                       ng-hide="findProgressForExercise(exercise)"
                       ng-show="vm.enabledEdit[index]"/>
                <span class="col-sm-2 center-block"
                      ng-show="findProgressForExercise(exercise)"
                      ng-hide="vm.selectedTracker.weight == null || vm.enabledEdit[index]">
                    <span class="">Weight: {{ vm.selectedTracker.weight }} kg</span>
                </span>

                <div class="input-group">
                    <input type="number" placeholder="Sets" class="col-sm-4 center-block" 
                           ng-model="vm.progress[index].sets" 
                           ng-hide="findProgressForExercise(exercise)" 
                           ng-show="vm.enabledEdit[index]"/>
                    <span class="col-sm-2 center-block"
                          ng-show="findProgressForExercise(exercise)"
                          ng-hide="vm.selectedTracker.sets == null || vm.enabledEdit[index]">
                        S: {{ vm.selectedTracker.sets }}
                    </span>
                    <span class="col-sm-1">x</span>
                    <span class="col-sm-2 center-block"
                          ng-show="findProgressForExercise(exercise)"
                          ng-hide="vm.selectedTracker.reps == null || vm.enabledEdit[index]">
                        R: {{ vm.selectedTracker.reps }}
                    </span>
                    <input type="number" placeholder="Reps" class="col-sm-4 center-block" 
                           ng-model="vm.progress[index].reps"  
                           ng-hide="findProgressForExercise(exercise)" 
                           ng-show="vm.enabledEdit[index]"/>
                    <span class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-xs center-block"
                                ng-hide="findProgressForExercise(exercise)"
                                ng-click="vm.submitProgress(exercise, index)">
                            Submit
                        </button>
                        
                        <button type="submit" class="btn btn-success btn-xs center-block"
                                ng-show="vm.enabledEdit[index]"
                                ng-click="vm.updateProgress(exercise, index)">
                            Update
                        </button>

                    </span>
                    <span class="col-sm-1">
                        <button class="btn btn-primary btn-xs center-block"
                                ng-if="findProgressForExercise(exercise)"
                                ng-hide="vm.enabledEdit[index]"
                                ng-click="vm.editProgress(index)">
                            Edit
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

