﻿<div class="col-md-6 col-md-offset-3">
    <div ng-show="vm.errorMessage" class="text-danger">{{ vm.errorMessage }}</div>
    <div class="text-center" ng-show="vm.isBusy"><i class="fa fa-spinner fa-spin"></i>Loading...</div>
    <table class="table table-responsive table-striped">
        <tr ng-repeat="plan in vm.trainingPlans">
            <td>{{ plan.name }}</td>
            <td>{{ plan.dateCreated | date:'dd-MM-yyyy'}}</td>
            <td><a ng-href="#/edit/{{ plan.name }}" class="btn btn-sm btn-primary">Manage</a></td>
            <td><a ng-href="#/track/{{ plan.name }}" class="btn btn-sm btn-primary">Track</a></td>
            <td><button class="btn btn-sm btn-danger" ng-click="vm.deleteTrainingPlan(plan)">Delete</button>
        </tr>
    </table>

    <form novalidate name="newTrainingPlanForm" ng-submit="vm.addNewTrainingPlan()">
        <div class="form-group-sm">
            <label for="name">Add new training plan.</label>
            <input class="form-control" type="text" id="name" name="name"
                   ng-model="vm.newTrainingPlan.name" placeholder="Type training name here"
                   required ng-minlength="5" />
            <span class="text-warning" ng-show="newTrainingPlanForm.$error.required">Training plan name is required</span>
            <span class="text-warning" ng-show="newTrainingPlanForm.$error.minlength">Training plan name must be at least 5 characters</span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-xs btn-success btn-block"
                   value="Add" ng-disabled="newTrainingPlanForm.$invalid" />
        </div>
    </form>
</div>