﻿<div class="col-md-6">
    <div><h2>{{ vm.name }} </h2></div>
    <div><h2>{{ vm.errorMessage }} </h2></div>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Exercise name</th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Remove</th>
        </tr>
        <tr ng-repeat="exercise in vm.trainingPlan.exercises | orderBy:'trainingDay'">
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.sets }}</td>
            <td> <a ng-click="vm.deleteExercise(exercise)" class="btn btn-danger">-</a> </td>
        </tr>
    </table>

    <form novalidate name="newExerciseForm" ng-submit="vm.addNewExercise()">
        <div class="form-group-sm">

            <div class="form-group">
                <select name="dayOfWeek" ng-model="vm.newExercise.trainingDay"
                        required id="dayOfWeek">
                    <option value="" selected disabled>Select training day</option>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
                <span class="text-warning"
                      ng-show="newExerciseForm.dayOfWeek.$error.required">
                    Please select training day for exercise.
                </span>
            </div>

            <div class="form-group">
                <label for="name">Add new exercise</label>
                <input class="form-control" type="text" id="name" name="name"
                       ng-model="vm.newExercise.name" required placeholder="Exercise name..." />
                <span class="text-warning" ng-show="newExerciseForm.name.$error.required">Exercise name is required</span>
            </div>

            <div class="form-group">
                <input class="form-control" type="number" id="reps" name="reps"
                       ng-model="vm.newExercise.reps" placeholder="Number of reps..." required ng-min="3" />
                <span class="text-warning" ng-show="newExerciseForm.reps.$error.required">Number of reps is required</span>
                <span class="text-warning" ng-show="newExerciseForm.reps.$error.min">Number of reps is invalid</span>
            </div>


            <div class="form-group">
                <input class="form-control" type="number" id="sets" name="sets"
                       ng-model="vm.newExercise.sets" ng-min="1" required placeholder="Number of sets..." />
                <span class="text-warning" ng-show="newExerciseForm.sets.$error.required">Number of sets is required</span>
                <span class="text-warning" ng-show="newExerciseForm.sets.$error.min">Number of sets is required</span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-xs btn-success btn-block"
                   value="Add" ng-disabled="newExerciseForm.$invalid" />
        </div>
    </form>

</div>
